:host{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}
.form{
    display: grid;
    grid-template: repeat(6, min-content)/1fr 3fr;
    gap: 1rem 1rem;
    .head, .boton{
        grid-column: span 2;
    }
}