<form [formGroup]="form" class="form" (submit)="registrar()">
  <div class="head mb-5">
    <h2 class="text-4xl text-center">Registrar Nuevo Usuario</h2>
  </div>
  <div>
    <label for="name">Nombre: </label>
  </div>
  <div>
    <input type="text" id="name" name="name" formControlName="name" class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" (change)="cambio()">
  </div>
  <div>
    <label for="user">Usuario: </label>
  </div>
  <div>
    <input type="text" id="user" name="user" formControlName="user" class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" (change)="cambio()">
  </div>
  <div>
    <label for="email">Correo: </label>
  </div>
  <div>
    <input type="email" id="email" name="email" formControlName="email" class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" (change)="cambio()">
  </div>
  <div>
    <label for="pass">Contraseña: </label>
  </div>
  <div>
    <input type="password" name="pass" id="pass" formControlName="pass" class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" (change)="cambio()">
  </div>
  <div>
    <label for="pass2">Repetir contraseña: </label>
  </div>
  <div>
    <input type="password" name="pass2" id="pass2" formControlName="pass2" class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" (change)="cambio()">
  </div>
  <div class="boton flex justify-center">
    <button class="bg-white hover:bg-gray-100 text-gray-800 font-semibold py-2 px-4 border border-gray-400 rounded shadow">Registrar</button>
  </div>
</form>
<!-- nuevo usuario registrado --------------------------------->
<div>
  <p>{{usuario | json}}</p>
</div>