<!-- barra de navegacion -->
<nav class="flex justify-between bg-slate-400 text-xl h-12 font-bold">
  <ul class="flex w-1/4 justify-evenly h-full">
    <li class="h-full flex items-center hover:bg-slate-200 px-2"><a routerLink="/home">Home</a></li>
    <li class="h-full flex items-center hover:bg-slate-200 px-2"><a routerLink="/rpta">Post</a></li>
    <li class="h-full flex items-center hover:bg-slate-200 px-2"><a routerLink="/form">Formulario</a></li>
  </ul>
  <div class="h-full flex items-center hover:bg-slate-200 px-3">
    <button class="bg-white hover:bg-red-300 text-gray-800 font-semibold py-2 px-4 border border-gray-400 rounded shadow mr-5" (click)="logout()">Logout<span class="bi bi-box-arrow-right ml-3"></span></button>
    <a routerLink="login">Login</a>
  </div>
</nav>
<router-outlet></router-outlet>