<div class="w-1/2 mx-auto my-10">
  <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Veritatis, quis officia dicta numquam nemo neque veniam, ea ad reiciendis laudantium minima mollitia quia nam deleniti incidunt hic ducimus quam dolores.</p>
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Vitae labore aliquam aspernatur quo libero maiores ratione in ducimus, officiis veritatis dignissimos necessitatibus, esse minima magnam quae animi. Perspiciatis, aut at.</p>
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Iste maiores quos quae aliquid nam, optio nihil expedita illum ducimus at ab officia consequatur cumque iure enim eveniet voluptates numquam beatae?</p>
</div>